.font-style-1 {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-style-1-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-style-1-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-style-1-bold {
  font-family: "Rowdies", sans-serif;
  font-weight: 700;
  font-style: normal;
}


